.root{
    -fx-background-color: #66666b;
}

.table-view{
   -fx-background-color: #8d8d94;
   -fx-table-cell-border-color: transparent;
}

.table-view:focused{
    -fx-background-color: #83838d;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: #48484e;
    -fx-padding: 10 0 10 0;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
    -fx-font-size:15px;  
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #8d8d94;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
    -fx-cell-size: 40px;
    -fx-alignment: center;
}

.table-column {
    -fx-alignment: CENTER;
  }

.table-row-cell:odd{
    -fx-background-color: #313335;
    -fx-background-color: -fx-table-cell-border-color, #83838d;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
    -fx-cell-size: 40px;
    -fx-alignment: center;
}

.table-row-cell:selected {
    -fx-background-color: #313335;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}
