/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.table-view {
    table-color: rgba(82, 100, 174, 0.4);
    table-rippler-color: rgba(82, 100, 174, 0.6);
    -jfx-header-color: #949494;
    -fx-background-color: #7f878f;
    -fx-text-fill: WHITE;
}

.table-view:focused {
    -fx-background-color: #7f878f; /*-fx-box-border, -fx-control-inner-background; */
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1; /* 0.083333em; */
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected {
    -fx-background-color: #7f878f;
    -fx-table-cell-border-color: table-color;
    -fx-text-fill: WHITE;
}

.table-view:focused .table-row-cell:selected .table-cell {
    -fx-text-fill: WHITE;
}

.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .filler {
    -fx-background-color: #545454;
}

.table-view .column-header {
    -fx-border-width: 0 1 0 1;
    -fx-border-color: #545454;
}

.table-view .column-header .label {
    -fx-text-fill: -jfx-header-color;
    -fx-padding: 16 0 16 0;
}

.table-view .column-header .arrow,
.table-view .column-header .sort-order-dot {
    -fx-background-color: -jfx-header-color;
}

.table-view .column-header:last-visible {
    -fx-border-width: 0 2 0 1;
}

.table-view .column-header-background {
    -fx-border-width: 0 0.0 1 0;
    -fx-border-color: #545454;
}

.table-view .table-cell .table-row-cell {
    -fx-border-width: 0 0 0 0;
    -fx-pref-height: 48px;
    -fx-alignment: center;
    -fx-background-color: #545454
}

.table-view {
    -fx-background-color: table-rippler-color;
}

.table-view .menu-item .label {
    -fx-padding: 5 0 5 0;
}


